## Data structure and sequences

### Tuple
 A tuple is a fixed-length, immutable sequence of python objects.

In [4]:
t = 4,5,6
print(t)
type(t)

(4, 5, 6)

tuple

In [5]:
nested_tup = (4,6,2),(1,5,7) # nested tuple
nested_tup

((4, 6, 2), (1, 5, 7))

In [6]:
tuple([2,3,5,6])

(2, 3, 5, 6)

In [8]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
## if any object inside a tuple is mutable such as list, you can modify it in place:
tup = tuple(['foo',[1,2,3], True])
## tuple expected at most 1 argument
tup

('foo', [1, 2, 3], True)

In [12]:
tup[0] = 'hey' ### see the typeerror

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(5)  
tup

('foo', [1, 2, 3, 4, 4, 5, 5], True)

Key points:

1. You can concatenate tuples using the + operator to produce longer tuples.
2. Multiplying a tuple by an integer as with lists has the effect of concatenating together that many copies of the tuple.
3. Note : That object themselves are not copied only the reference to them.

### Unpacking tuples
python will attempt to  unpack the value on the right hand side of the equals sign. when we are try to assign to a tuple-like expression

In [17]:
tup = (4,5,6)
a,b,c = tup
b

5

In [20]:
## it also applicable on nested tuple
tup = 4,5,(6,9)
a,b,(x,y) = tup
y

9

In [21]:
# swaping is done in python like this
a,b = 1,2
b,a = a,b
a

2

In [22]:
## a comman use of variable unpacking is iterating over sequence of tuple or list
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [25]:
### count method is useful in tuple
a = (1,4,4,4,4,4,5,6,5,6,2,4,2,3,3,9)
a.count(4)

6

## List
list are variable-length and their contens can be modified in place. we cna define them using square brackets[].

In [26]:
a_list = [1,3,5,6,None]
tup = ('foo','bar','baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [27]:
b_list[2] = 'foobzee'
b_list

['foo', 'bar', 'foobzee']

In [30]:
## append method = Element can be added at the end of the list
## insert mehtod = Element can be added a the specific location in a list.

b_list.append('mental')
b_list

['foo', 'bar', 'foobzee', 'mental', 'mental']

In [32]:
b_list.insert(2,'red')
b_list

['foo', 'bar', 'red', 'red', 'foobzee', 'mental', 'mental']

In [33]:
## pop operation is opposite to insert. it removes and return an element at a particular index.
b_list.pop(2)
b_list

['foo', 'bar', 'red', 'foobzee', 'mental', 'mental']

Note : Element can be removed by value with remove
- a.append('foo')
- a.remove('foo')

In [35]:
# way to check is element are present on list or not.
"bar" in b_list

True

In [36]:
"hi" not in b_list

True

### concatenating and combining lists

In [37]:
# Adding two lists tigether with '+' concatenates them.
[1,3,'foo']+[7,3,2,(5,3)]

[1, 3, 'foo', 7, 3, 2, (5, 3)]

In [38]:
# with extend method we can append multiple elements in list
a = [2,4,6,2]
a.extend([7,'roo',None,(2,'foo')])
a
## if we are working with large dataset extend method is preferable not concatenation
# extend is faster then concatenation

[2, 4, 6, 2, 7, 'roo', None, (2, 'foo')]

### Sorting
You can sort a list in-place(without creating new object)

In [42]:
a = [2,4,1,7,3,8,6]
a.sort()
a

[1, 2, 3, 4, 6, 7, 8]

In [43]:
## sort key - a function that produces a value to use to sort the object
b =['am', 'okay', 'I']
b.sort(key=len)
b

['I', 'am', 'okay']

Built-in bisect module
- bisect.bisect(x,3) #  finds the location where an                         element should be inserted                           to keep it sorted
- bisect.insort(x,2) #  Actually inserts the                                 element into that location
- bisect modulle function do not check wether the list is sorted.  it work correctly on sorted list.

### Slicing

In [44]:
## slicing basic form consist of start:stop passed to the indexing opearter []
seq = [1,4,3,5,2,7,9,4,6]
seq[2:6]

[3, 5, 2, 7]

In [45]:
seq[-7:-2]

[3, 5, 2, 7, 9]

In [49]:
seq[::-3]

[6, 7, 3]

## Built-in sequence function

### enumerate
it's help to keep track of the index of the current items.

In [2]:
## python built-in function, enumerate, which return a sequence of (i, value) tuples:

lst = ['hi', 'hello', 'namaste']
mapping = {}
for i, v in enumerate(lst):
    mapping[v] = i           ## i = index   v = value
    
mapping

{'hi': 0, 'hello': 1, 'namaste': 2}

In [3]:
## sorted : a function return a new sorted list from the elements of any list
a = [9,3,6,1,44,22,61,0,2,]
sorted(a)

[0, 1, 2, 3, 6, 9, 22, 44, 61]

In [7]:
## zip : "pair" up the elements of a number of list, tuples or other sequence to create a list of tuple
x = ['roo', 'boom','u can']
y = ['yes', 'maybe', 'not']
zipped = zip(x,y)
list(zipped)

## zip can take an arbitrary number of sequences, and the number of elements it produces is determined by the shortest sequence
z = ['true', 'false']

list(zip(x,y,z))

[('roo', 'yes', 'true'), ('boom', 'maybe', 'false')]

### Dictionary(dict)
It is flexibly sized collection of key-value pairs, where key and value are python objects.One approach for creating one is to use curly braces{} nad colons to separate key and value

In [5]:
dic = {'a':'hello world', 'b':[1,3,5,6], 'c': 'none'}
dic?

In [6]:
dic[5] = [1,3,4,6,7]
dic

{'a': 'hello world', 'b': [1, 3, 5, 6], 'c': 'none', 5: [1, 3, 4, 6, 7]}

In [9]:
dic[5]  ## there is no indexing concept work, we access elements by is key value.

[1, 3, 4, 6, 7]

In [13]:
'd' is not dic

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\hp\AppData\Local\Temp\ipykernel_20536\3792412930.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  'd' is not dic

True

In [16]:
del dic[5]   ## del method help to delete element in a dictinory by using key value

KeyError: 5

In [17]:
dic

{'a': 'hello world', 'b': [1, 3, 5, 6], 'c': 'none'}

In [19]:
## the keys and values method give u iterators of the dict's key and values respectively.
list(dic.keys())

['a', 'b', 'c']

In [20]:
list(dic.values())

['hello world', [1, 3, 5, 6], 'none']

In [22]:
dic.update({'b':'roo','d':[3,4,2]})  ## donot forget to put curly braces. because we are updating dictonary.
dic        ## when we upadte an existing key the old value discarded

{'a': 'hello world', 'b': 'roo', 'c': 'none', 'd': [3, 4, 2]}

####  creating dicts from sequences
syntax:
mapping = {}
for key, value in zip(key_list,value_list):
      mapping[key]=value

In [29]:
mapping = dict(zip(range(5), reversed(range(5))))

mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [34]:
''' valid dict key types
value in dict can be any python objct but the key generally have to be immutable object like 
sacler type(int, float) or tuples. the techincal term here is hashability.
we can check whether an object is hashable with hash functon
'''
hash([1,2,4])   # look at he error

TypeError: unhashable type: 'list'

In [35]:
## to use list a key, we have convert it into tuple. 
d={}
d[tuple([1,2,3])]= 5
d

{(1, 2, 3): 5}

## Set
A set is an undordered collection of unique elements.
A set can be created in two ways: via set function or via a set literals with curly braces.

In [38]:
a = set([1,2,45,4,6])
print(a)
type(a)

{1, 2, 4, 6, 45}

set

In [39]:
{1,3,5,1,3,5,2,4,2}  ### set automaticaly elimate duplicate elements from a set.b

{1, 2, 3, 4, 5}

In [40]:
 ## set in python simillar to mathematics
# we also perform set operations here
a ={1,2,3,4,5,7,8}
b={1,2,4,6,7,8,3,5}

In [42]:
## union of these two sets. It can be computed with either the 'union' method or '|' binary operation
# a.union(b)
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
## intersection 
# a.intersection(b)
a & b

{1, 2, 3, 4, 5, 7, 8}

- a.add(x)  N/A   Add element x to the set a
- a.clear()     N/A   Reset the set a to an empty state, discarding all of its elements
- a.remove(x)   N/A   Remove element x from the set a
- a.pop()   N/A    Remove an arbitrary element from the set a, raising KeyError if the set is empty
- a.union(b)    a | b     All of the unique elements in a and b
- a.update(b)    a |= b    Set the contents of a to be the union of the elements in a and b
- a.intersection(b)    a & b    All of the elements in both a and b
- a.intersection_update(b)    a &= b    Set the contents of a to be the intersection of the elements in a and b
- a.difference(b)     a - b    The elements in a that are not in b
- a.difference_update(b)    a -= b      Set a to the elements in a that are not in b
- a.symmetric_difference(b) a ^ b All of the elements in either a or b but not both
- a.symmetric_difference_update(b) a ^= b Set a to contain the elements in either a or b but not both
- a.issubset(b) N/A True if the elements of a are all contained in b
- a.issuperset(b) N/A True if the elements of b are all contained in a
- a.isdisjoint(b) N/A True if a and b have no elements in common

In [50]:
a.symmetric_difference(b)

set()

In [51]:
## set is equal if and only if their content are equal
{1,3,5,6} == {3,1,5,6}

True

## List, Set and Dict comprehensions

List comprehensions are one of the most-loved Python language features. They allow
you to concisely form a new list by filtering the elements of a collection, transforming
the elements passing the filter in one concise expression. They take the basic form:

[expr for val in collection if condition]

In [1]:
strinngs = ['A','BC','DES','QTG','FGH']
[x.lower() for x in strinngs if len(x)>2]

['des', 'qtg', 'fgh']

## Function
- Functions are the primary and most important method of code organization and reuse in Python script.
- Functions can also help make your code more readable by giving a name to a group of
Python statements.
- Functions are declared with the def keyword and returned from with the return key‐word:
- def my_function(x, y, z=1.5):
  - if z > 1:
  - return z * (x + y)
  - else:
  - return z / (x + y)

In [ ]:
## Each function can have positional arguments and keyword arguments. Keyword argu‐ments are most commonly used to specify default values or optional arguments.
# This means that the function can be called in any of these ways:
# my_function(5, 6, z=0.7)   x&y are positioal argmets and z is keyword arguments
# my_function(3.14, 7, 3.5)
# my_function(10, 20)


# The main restriction on function arguments is that the keyword arguments must fol‐low the positional arguments (if any).
# It is possible to use keywords for passing positional arguments aswell. In the preceding example, we could also have written:
 # my_function(x=5, y=6, z=7)
 # my_function(y=6, x=5, z=7)

### Namespaces, Scope, and Local Functions
- Functions can access variables in two different scopes: global and local. An alternative and more descriptive name describing a variable scope in Python is a namespace.
- The local namespace is created when the function is called and immedi‐ately populated by the function’s arguments. After the function is finished, the local namespace is destroyed

### Returning Multiple values
- Python was the ability to return multiple value from a function with simple syntax.
- def f():
   - a = 5
   - b = 6
   - c = 7
  - return a, b, c
- a, b, c = f()
-

In [ ]:
## Functions are Objects
# Python functions are objects, many constructs can be easily expressed that are difficult to do in other languages.


## An0nymous(Lambda) function
# it is a way of writing function consisting of a single statement, the result of which is the return value. 

## A generator is a concise way to construct a new iterable object